!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Welcome to BookStore
    %p
      User with email #{@us_email} added comment to your book
      %br/
    %p
      You can see changes by following this url: #{@url}.
    %p Thanks for joining and have a great day!