<center>
  <h1>Search books</h1>
    <form action='/search_books' >
     <input type='text' name='search_title'>
     <p>
     <input type='submit' value='Search'>
    </form>
  <%= link_to 'Listing books', books_path %>
</center>
