%h2 Please confirm your email address
%p You have just been sent an email to confirm your email address.
%p Please click on the link in the email to confirm your registration.
%p If you have not received the email within 10 minutes please check your spam inbox.
= link_to "Main page", "/"
