<h2>Please confirm your email address</h2>

<p>You have just been sent an email to confirm your email address.</p>

<p>Please click on the link in the email to confirm your registration.</p>

<p>If you have not received the email within 10 minutes please check your spam inbox.</p>

<%= link_to "Main page", "/" %>
