/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.text6{
font-family: 'Comic Sans MS', cursive;
font-size: 1.3em;
color: #000000;
font-style: italic;
text-align: left;
line-height: 33%;
letter-spacing: 0.05em;
}
.text5{
font-family: 'Comic Sans MS', cursive;
font-size: 1.3em;
color: #C7C7C7;
font-weight: bold;
font-style: italic;
text-align: left;
line-height: 33%;
letter-spacing: 0.05em;
}
.edit{
    list-style-type: none;
}

.image_book{
   width: 200px;
   height: 250px;
    float: left;
    margin: 5px;
}
.book_info{
    float: left;
}
ul{
    list-style: none;
}
.text{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 800;
    text-align:  left

}
.text1{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    text-align:  left
}
.text3{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-style: italic;
    font-weight: 800;
    text-align:  left
}

.invisible{
    display: none;
}