/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.edit{
    list-style-type: none;
}

.image_book{
   width: 160px;
   height: 180px;
    float: left;
    margin: 5px;
}
.book_info{
    float: left;
}
ul{
    list-style: none;
}
.text{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 800;
    text-align:  left

}

.text2{
        font-family: Verdana, Colibri, Helvetica, sans-serif;
        font-size: 19px;
        font-style: italic;
        font-weight: 600;
        text-align:  left
}
.text3{
    font-family: Verdana, Colibri, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    text-align:  left