/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.edit{
    list-style-type: none;
}

.image_book{
   width: 160px;
   height: 180px;
    float: left;
    margin: 5px;
}
.book_info{
    float: left;
}
ul{
    list-style: none;
}
.text{
    font-family: Verdana, Arial, Helvetica, sans-serif; /* Гарнитура текста */
    font-size: 14px; /* Размер шрифта в пикселях */
    font-style: italic; /* Начертание шрифта */
    font-weight: 800; /* Насыщенность шрифта */
    text-align:  left  /* выравнивание текста */

}
.text1{
    font-family: Verdana, Arial, Helvetica, sans-serif; /* Гарнитура текста */
    font-size: 12px; /* Размер шрифта в пикселях */
    font-style: italic; /* Начертание шрифта */
    font-weight: 600; /* Насыщенность шрифта */
    text-align:  left  /* выравнивание текста */

