// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#donate {
  float: right;
}
#image-book-show {
	float: left;
	padding: 0px 20px 10px 10px;
}