// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard {

}

.dashboard-module {

}

.content-main {
  margin: 0 0 15px 15px;
  padding: 12px;
  background-color: #f9f9f9;

  width: 900px;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

}

tr th {

}

td {

}

table {

}
      
.article-wrap {
  padding: 3px;
  border-radius: 5px;
  background-color: #EEEEEE;
  width: 200px;
  margin: 5px; 
}

.article {
  border-radius: 5px;
  background-color: #fff;
  height: 300px;  
  padding: 5px;
}
ul {
  list-style: none outside none;
}
li {
  display: inline;
  float: left
}
.image_book {

}
.mini-profile {
}

.wtf-module {
}

.trends {
}

.sign-in {

}

.sign-up {

}
