// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#dashboard {
  position: relative;
  width: 220px;
  margin: 0 auto;
  padding: 10px;
  background: #fff;
  float: left;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#mini-profile {
  
}
#btn-user-link{
  padding: 0px 0px 10px 20px;
}
#btn-edit {
  padding: 0px 0px 10px 45px;
}
#image-user-wrap {
  padding: 5px;
  margin: 0px 20px 5px 20px;
}
#image-user {
  
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
img {
/*
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

#content-wrap {
  margin  : 0 auto;
  padding: 12px;
  background-color: #f9f9f9;
  width: 1150px;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#content-main {
  background-color: #fff;
  margin: 0 auto;
  width: 900px;
  float: right;

}

tr th {

}

td {

}

table {

}
#form-sort {
  position: relative;
  left: 100px;
  top: 25px; 
  width: 300px;
}
#form-shearch {
  position: relative;
  bottom: 20px;
  width: 300px; 
  left: 500px;
} 
#btn-new-book {
  clear: both;
  position: relative;
  left: 400px;
}
 

#donate {
  clear: both;
}

.article-wrap {
  padding: 3px;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  
  background-color: #EEEEEE;
  width: 200px;
  margin: 5px; 

}

.article {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #fff;
  
  height: 300px;  
  padding: 5px;
  text-align: center;
}

ul {
  list-style: none outside none; 
}
li {
  display: inline;
  float: left;
}
.image_book {
  max-width: 100%;
  height: 200px;
  width: auto\9; /* ie8 */  
}

.wtf-module {
}

.trends {
}

.sign-in {

}

.sign-up {

}
