@import "bootstrap";

@media screen and (max-width: 980px) {
  #content-wrap { 
    width: 90%;
  }
  #content-main {
    width: 90%;
    float: none; 
  }
  #form-sort {
    left: 0px; 
    margin: 0 auto;
    top: 10px; 
  }

  #form-shearch {
    left: 0px;
    margin: 0 auto;
    top: 0px;
  }

  #dashboard {
    float: none;
    width: 400px;
  }
  #image-user {
    float: left;
    margin-right: 10px; 
    height: 100px;
    width: auto;
  }
  #btn-new-book {
    left: 45%;

  } 
}
@media screen and (max-width: 660px) {


 

}
@media screen and (max-width: 480px) {
  
}
