<p>Dear <%= @resource.email %>!</p>
<p>You just register with Bookshop.com.</p>
<p>To confirm your registration, please click the link below or copy this link to your browser:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<br />
<p>Welcome to Bookshop!</p>
