%footer.footer
  %small
    %a{ href: "https://github.com/MrTime/ruby-test-project" } BookStore on GitHub
  %nav
    %ul
      %li= link_to 'About',   '#'
      %li= link_to 'Contact', '#'
      %li= link_to 'News',    '#'
