%footer.footer
  %small
    %a{ href: "https://github.com/MrTime/ruby-test-project" } BookStore on GitHub
  %nav
    %ul
      %li= link_to 'About',   pages_about_path
      %li= link_to 'Contact', pages_contact_path
      %li= link_to 'News',    pages_news_path
