%footer.footer
  %small
    %a{ href: "https://github.com/MrTime/ruby-test-project" } BookStore on GitHub
  %nav
    %ul
      %li= link_to 'About',   '/pages/about'
      %li= link_to 'Contact', '/pages/contact'
      %li= link_to 'News',    '/pages/news'
