#mini-profile
  - if @user
    - if @user.photo
      #image-user-wrap
        = image_tag @user.photo.image_path, size: '150x150', :id => "image-user"
    - else
      #image-user
        = image_tag '/assets/default/default-user.png', size: '100x100'

    
    #btn-user-link
      = link_to @user.email, user_path(@user), :class => "btn btn-large btn-primary disabled"
    #btn-edit
      = link_to 'Edit profile', edit_user_registration_path, :class => "btn btn-large disabled"

  - else
    %div.alert.alert-error
      %h2 Sorry but such user doesn't exist
