%meta{property: "og:title",     content: ""}
%meta{property: "og:type",      content: "book"}
%meta{property: "og:url",       content: ""}
%meta{property: "og:image",     content: ""}
%meta{property: "og:site_name", content: "BookStore"}
%meta{property: "fb:admins",    content: "1685931534"}
